@page "/EnterName"
@model NameModel
@{
    ViewData["Title"] = "Enter Name";
}


<div class="text-center index-background" >
    <h1>Hello, Future Athlete</h1>
    <h2 class="black-text">Please enter your Name:</h2>

    <form method="post">
        <input type="text" asp-for="Name" placeholder="Enter your name" class="form-control" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

