@page "/Goodbye"
@{
    ViewData["Title"] = "Goodbye";
}


<div class="text-center index-background" >
    <h1>Thank you</h1>
    <h2>&</h2>
    <h2>Hope you enjoyed your workout!</h2>
</div>