@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Start";
}


<div class="text-center index-background" style="cursor: pointer;" onclick="location.href='EnterName'">
    <h1>Hello, Future Athlete</h1>
</div>

